<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Projekt.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Projekt.login.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"

      rel="stylesheet">
</head>
<body>
    <div class="main-container">
            <div class="left">

                <div class="flow home">
                    <a href="/home"><span class="material-icons">home </span></a>
                    <h2><a href="/home">Home</a></h2>
                </div>
                @if (User.Identity.IsAuthenticated)
            {
                <div class="flow">
                    <a href="/UserAuthentication/Logout"><span class="material-symbols-outlined">logout</span></a>
                    <h2><a href="/UserAuthentication/Logout">logout</a></h2>
                </div>
            }
            else
            {
            <div class="flow">
                    <a href="/UserAuthentication/Login"> <span class="material-icons">account_circle </span></a>
                    <h2><a href="/UserAuthentication/Login">Sign in</a></h2>

                    <a href="/UserAuthentication/RegisterForm"><span class="material-icons">account_circle</span></a>
                    <h2><a href="/UserAuthentication/RegisterForm">Sign up</a></h2>

                    <a href="/Tickets/CancelReservation"><span class="material-symbols-outlined">event_seat </span></a>
                    <h2><a href="/Tickets/CancelReservation">Cancel reservation</a></h2>
                    </div>
            }
             </div>
             <div class="right-panel">
                @RenderBody()
             </div>
     </div>
</body>
</html>